<template>
  <div class="hello">
    <h1>{{ hello }}</h1>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      hello: ''
    }
  },
  props: {
    msg: String
  },
  created: function () {
    fetch('http://localhost:8080/hello?message=' + this.msg)
      .then((response) => {
        return response.json()
      })
      .then((json) => {
        this.hello = json.hello
      })
  }
}
</script>

<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}
</style>
